<appSettings>
  <add key="FacebookAppId" value="1310461992413837"/>
  <add key="FacebookAppSecret" value="ef1f4dfc75ba42051d2b0a406b520989"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>