@model  Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@if(Model.Customer.Count == 0)
{
    <p class="text-info">No one has rented movie before</p>
}
else
{
    <ul class="list-group">
        @foreach (var customer in Model.Customer)
        {
            <li class="list-group-item">@customer.Name</li>
        }
    </ul>
}